## Importing data and creating table

Attributes: 

X1 : Login Hours

X2 : Break time duration 

Y *(Label)* : Productivity

In [53]:
import numpy as np
import pandas as pd

temp={"X1":[8.1,7.3,7.8,8.9,9.2,8.5,8.4,7.2,9.1,7.6,7.8,7.9], 
      "X2":[1.25,1.38,1.57,1.27,1.67,1.08,1.22,1.37,1.25,1.40,1.27,1.63], 
      "Y":[9.03,8.65,8.94,9.42,9.58,9.19,9.17,8.99,9.57,8.80,8.88,8.90]}
df=pd.DataFrame(temp)
df

     X1    X2     Y
0   8.1  1.25  9.03
1   7.3  1.38  8.65
2   7.8  1.57  8.94
3   8.9  1.27  9.42
4   9.2  1.67  9.58
5   8.5  1.08  9.19
6   8.4  1.22  9.17
7   7.2  1.37  8.99
8   9.1  1.25  9.57
9   7.6  1.40  8.80
10  7.8  1.27  8.88
11  7.9  1.63  8.90

## Calculating Means

In [54]:
X1bar = df["X1"].sum(axis=0)/len(df["X1"])
X1bar

8.149999999999999

In [55]:
X2bar = df["X2"].sum(axis=0)/len(df["X2"])
X2bar

1.3633333333333333

In [56]:
Ybar = df["Y"].sum(axis=0)/len(df["Y"])
Ybar

9.093333333333332

## Calculating (Xi - Xbar) and (Xi - Xbar)^2

In [57]:
X1_err = df["X1"]-X1bar
df["X1i-X1bar"] = X1_err
df

     X1    X2     Y  X1i-X1bar
0   8.1  1.25  9.03      -0.05
1   7.3  1.38  8.65      -0.85
2   7.8  1.57  8.94      -0.35
3   8.9  1.27  9.42       0.75
4   9.2  1.67  9.58       1.05
5   8.5  1.08  9.19       0.35
6   8.4  1.22  9.17       0.25
7   7.2  1.37  8.99      -0.95
8   9.1  1.25  9.57       0.95
9   7.6  1.40  8.80      -0.55
10  7.8  1.27  8.88      -0.35
11  7.9  1.63  8.90      -0.25

In [58]:
X1_err2 = df["X1i-X1bar"]*df["X1i-X1bar"]
df["(X1i-X1bar)^2"] = X1_err2
df

     X1    X2     Y  X1i-X1bar  (X1i-X1bar)^2
0   8.1  1.25  9.03      -0.05         0.0025
1   7.3  1.38  8.65      -0.85         0.7225
2   7.8  1.57  8.94      -0.35         0.1225
3   8.9  1.27  9.42       0.75         0.5625
4   9.2  1.67  9.58       1.05         1.1025
5   8.5  1.08  9.19       0.35         0.1225
6   8.4  1.22  9.17       0.25         0.0625
7   7.2  1.37  8.99      -0.95         0.9025
8   9.1  1.25  9.57       0.95         0.9025
9   7.6  1.40  8.80      -0.55         0.3025
10  7.8  1.27  8.88      -0.35         0.1225
11  7.9  1.63  8.90      -0.25         0.0625

In [59]:
X2_err = df["X2"]-X2bar
df["X2i-X2bar"] = X2_err
df

     X1    X2     Y  X1i-X1bar  (X1i-X1bar)^2  X2i-X2bar
0   8.1  1.25  9.03      -0.05         0.0025  -0.113333
1   7.3  1.38  8.65      -0.85         0.7225   0.016667
2   7.8  1.57  8.94      -0.35         0.1225   0.206667
3   8.9  1.27  9.42       0.75         0.5625  -0.093333
4   9.2  1.67  9.58       1.05         1.1025   0.306667
5   8.5  1.08  9.19       0.35         0.1225  -0.283333
6   8.4  1.22  9.17       0.25         0.0625  -0.143333
7   7.2  1.37  8.99      -0.95         0.9025   0.006667
8   9.1  1.25  9.57       0.95         0.9025  -0.113333
9   7.6  1.40  8.80      -0.55         0.3025   0.036667
10  7.8  1.27  8.88      -0.35         0.1225  -0.093333
11  7.9  1.63  8.90      -0.25         0.0625   0.266667

In [60]:
X2_err2 = df["X2i-X2bar"]*df["X2i-X2bar"]
df["(X2i-X2bar)^2"] = X2_err2
df

     X1    X2     Y  X1i-X1bar  (X1i-X1bar)^2  X2i-X2bar  (X2i-X2bar)^2
0   8.1  1.25  9.03      -0.05         0.0025  -0.113333       0.012844
1   7.3  1.38  8.65      -0.85         0.7225   0.016667       0.000278
2   7.8  1.57  8.94      -0.35         0.1225   0.206667       0.042711
3   8.9  1.27  9.42       0.75         0.5625  -0.093333       0.008711
4   9.2  1.67  9.58       1.05         1.1025   0.306667       0.094044
5   8.5  1.08  9.19       0.35         0.1225  -0.283333       0.080278
6   8.4  1.22  9.17       0.25         0.0625  -0.143333       0.020544
7   7.2  1.37  8.99      -0.95         0.9025   0.006667       0.000044
8   9.1  1.25  9.57       0.95         0.9025  -0.113333       0.012844
9   7.6  1.40  8.80      -0.55         0.3025   0.036667       0.001344
10  7.8  1.27  8.88      -0.35         0.1225  -0.093333       0.008711
11  7.9  1.63  8.90      -0.25         0.0625   0.266667       0.071111

## Calculating (Xi - Xbar) * (Yi - Ybar)

In [61]:
Y_err = df["Y"]-Ybar
df["Yi-Ybar"] = Y_err
df

     X1    X2     Y  ...  X2i-X2bar  (X2i-X2bar)^2   Yi-Ybar
0   8.1  1.25  9.03  ...  -0.113333       0.012844 -0.063333
1   7.3  1.38  8.65  ...   0.016667       0.000278 -0.443333
2   7.8  1.57  8.94  ...   0.206667       0.042711 -0.153333
3   8.9  1.27  9.42  ...  -0.093333       0.008711  0.326667
4   9.2  1.67  9.58  ...   0.306667       0.094044  0.486667
5   8.5  1.08  9.19  ...  -0.283333       0.080278  0.096667
6   8.4  1.22  9.17  ...  -0.143333       0.020544  0.076667
7   7.2  1.37  8.99  ...   0.006667       0.000044 -0.103333
8   9.1  1.25  9.57  ...  -0.113333       0.012844  0.476667
9   7.6  1.40  8.80  ...   0.036667       0.001344 -0.293333
10  7.8  1.27  8.88  ...  -0.093333       0.008711 -0.213333
11  7.9  1.63  8.90  ...   0.266667       0.071111 -0.193333

[12 rows x 8 columns]

In [62]:
X1Y_err = df["X1i-X1bar"]*df["Yi-Ybar"]
df["(X1i-X1bar)*(Yi-Ybar)"] = X1Y_err
df

     X1    X2     Y  ...  (X2i-X2bar)^2   Yi-Ybar  (X1i-X1bar)*(Yi-Ybar)
0   8.1  1.25  9.03  ...       0.012844 -0.063333               0.003167
1   7.3  1.38  8.65  ...       0.000278 -0.443333               0.376833
2   7.8  1.57  8.94  ...       0.042711 -0.153333               0.053667
3   8.9  1.27  9.42  ...       0.008711  0.326667               0.245000
4   9.2  1.67  9.58  ...       0.094044  0.486667               0.511000
5   8.5  1.08  9.19  ...       0.080278  0.096667               0.033833
6   8.4  1.22  9.17  ...       0.020544  0.076667               0.019167
7   7.2  1.37  8.99  ...       0.000044 -0.103333               0.098167
8   9.1  1.25  9.57  ...       0.012844  0.476667               0.452833
9   7.6  1.40  8.80  ...       0.001344 -0.293333               0.161333
10  7.8  1.27  8.88  ...       0.008711 -0.213333               0.074667
11  7.9  1.63  8.90  ...       0.071111 -0.193333               0.048333

[12 rows x 9 columns]

In [63]:
X2Y_err = df["X2i-X2bar"]*df["Yi-Ybar"]
df["(X2i-X2bar)*(Yi-Ybar)"] = X2Y_err
df

     X1    X2     Y  ...   Yi-Ybar  (X1i-X1bar)*(Yi-Ybar)  (X2i-X2bar)*(Yi-Ybar)
0   8.1  1.25  9.03  ... -0.063333               0.003167               0.007178
1   7.3  1.38  8.65  ... -0.443333               0.376833              -0.007389
2   7.8  1.57  8.94  ... -0.153333               0.053667              -0.031689
3   8.9  1.27  9.42  ...  0.326667               0.245000              -0.030489
4   9.2  1.67  9.58  ...  0.486667               0.511000               0.149244
5   8.5  1.08  9.19  ...  0.096667               0.033833              -0.027389
6   8.4  1.22  9.17  ...  0.076667               0.019167              -0.010989
7   7.2  1.37  8.99  ... -0.103333               0.098167              -0.000689
8   9.1  1.25  9.57  ...  0.476667               0.452833              -0.054022
9   7.6  1.40  8.80  ... -0.293333               0.161333              -0.010756
10  7.8  1.27  8.88  ... -0.213333               0.074667               0.019911
11  7.9  1.63  8.90  ... -0.193333               0.048333              -0.051556

[12 rows x 10 columns]

**Final Dataset**

In [97]:
print(df)

     X1    X2     Y  ...   Yi-Ybar  (X1i-X1bar)*(Yi-Ybar)  (X2i-X2bar)*(Yi-Ybar)
0   8.1  1.25  9.03  ... -0.063333               0.003167               0.007178
1   7.3  1.38  8.65  ... -0.443333               0.376833              -0.007389
2   7.8  1.57  8.94  ... -0.153333               0.053667              -0.031689
3   8.9  1.27  9.42  ...  0.326667               0.245000              -0.030489
4   9.2  1.67  9.58  ...  0.486667               0.511000               0.149244
5   8.5  1.08  9.19  ...  0.096667               0.033833              -0.027389
6   8.4  1.22  9.17  ...  0.076667               0.019167              -0.010989
7   7.2  1.37  8.99  ... -0.103333               0.098167              -0.000689
8   9.1  1.25  9.57  ...  0.476667               0.452833              -0.054022
9   7.6  1.40  8.80  ... -0.293333               0.161333              -0.010756
10  7.8  1.27  8.88  ... -0.213333               0.074667               0.019911
11  7.9  1.63  8.90  ... -0.193333               0.048333              -0.051556

[12 rows x 10 columns]

## Calculating summations, w1, w2 and w0

In [80]:
sum_mul_X1 = df["(X1i-X1bar)*(Yi-Ybar)"].sum(axis=0)
sum_mul_X1

2.0779999999999985

In [81]:
sum_sq_X1 = df["(X1i-X1bar)^2"].sum(axis=0)
sum_sq_X1

4.989999999999998

In [89]:
sum_mul_X2 = df["(X2i-X2bar)*(Yi-Ybar)"].sum(axis=0)
sum_mul_X2

-0.04863333333333311

In [90]:
sum_sq_X2 = df["(X2i-X2bar)^2"].sum(axis=0)
sum_sq_X2

0.35346666666666654

**Formulae**

y = w0 + w1 * x1 + w2 * x2

w1 = sum_mul_X1 / sum_sq_X1 

w2 = sum_mul_X2 / sum_sq_X2

In [91]:
w1 = sum_mul_X1 / sum_sq_X1
w2 = sum_mul_X2 / sum_sq_X2

print("w1 = ", w1)
print("w2 = ", w2)

w1 =  0.41643286573146276
w2 =  -0.13758958883440153

In [92]:
w0 = Ybar - w1*X1bar - w2*X2bar
w0

5.886985950399478

**Results**

w1 =  0.41643286573146276

w2 =  -0.13758958883440153

## Predicting values

**Calcutating y_pred for x1 = 9.57 and x2 = 1.67**

In [93]:
x1 = 9.57
x2 = 1.67
Y_pred = w0 + w1*x1 + w2*x2
Y_pred

9.642473862096127

**Calcutating y_pred for x1 = 7 and x2 = 1.15**

In [94]:
x1 = 7
x2 = 1.15
Y_pred = w0 + w1*x1 + w2*x2
Y_pred

8.643787983360157